spring:
    application:
        name: wordcloud
    datasource:
        password: password
        url: jdbc:postgresql://localhost:5432/wordcloud
        username: postgres
    jpa:
        hibernate:
            ddl-auto: none
        properties:
            hibernate:
                dialect: org.hibernate.dialect.PostgreSQLDialect
                format_sql: true
        show-sql: true
